.heroSliderContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 2.5rem 1.25rem;
}

.heroSliderTextSide {
  width: 60%;
  padding: 1.25rem;
  font-weight: 800;
}

.heroGreeting {
  font-size: 1.4rem;
  text-align: start;
  font-style: italic;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.heroText {
  font-weight: 900;
  font-size: 2rem;
  text-align: start;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.heroMainText {
  color: #3498db;
  font-size: 3rem;
}

.heroAddtionalText {
  text-align: start;
  font-weight: 100;
  font-size: 1.25rem;
}

.heroButtonsContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.heroHrieButton,
.heroMyWorkButton {
  white-space: nowrap;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  transition: all 0.5s ease-in-out;
}

.heroHrieButton {
  background: #3498db;
  color: white;
  border: none;
  outline: none;
}

.heroHrieButton:hover {
  background: white;
  color: #3498db;
  transform: scale(1.08) translateY(-5px);
}

.heroHrieButton:active {
  background: #3498db;
  color: white;
  transform: scale(0.9) translateY(-5px);
}

.heroMyWorkButton {
  background: transparent;
  color: white;
  border: 2px solid white;
  outline: none;
}

.heroMyWorkButton:hover {
  background: #3498db2e;
  color: white;
  border: 2px solid white;
  transform: scale(1.08) translateY(-5px);
}

.heroMyWorkButton:active {
  background: transparent;
  color: white;
  border: 2px solid white;
  transform: scale(0.9) translateY(-5px);
}

.heroSliderImageSide {
  flex: 1;
  display: flex;
  justify-content: start;
}

.heroImage {
  width: 100%;
  height: auto;
  max-width: 18rem;
  object-fit: contain;
  filter: brightness(0.8);
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: rgba(52, 152, 219, 0.1);
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #3498db;
}

@media screen and (max-width: 768px) {
  .heroSliderContainer {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .heroSliderTextSide {
    flex-basis: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: #3498db06;
    color: #fff;
    padding: 1.25rem;
    border-radius: 20px;
    width: 90%;
  }

  .heroText {
    font-size: 1.5rem;
  }

  .heroMainText {
    font-size: 2.2rem;
  }

  .heroAddtionalText {
    text-align: center;
    font-size: 1rem;
  }

  .heroButtonsContainer {
    justify-content: center;
  }

  .heroHrieButton,
  .heroMyWorkButton {
    font-size: 1rem;
    padding: 0.6rem 1.25rem;
  }

  .heroSliderImageSide {
    flex-basis: 100%;
  }

  .heroImage {
    width: 100%;
    max-width: 16rem;
    height: auto;
    object-fit: cover;
    z-index: -1;
  }
}

@media screen and (max-width: 480px) {
  .heroImage {
    max-width: 12rem;
  }

  .heroText {
    font-size: 1.3rem;
  }

  .heroMainText {
    font-size: 1.8rem;
  }

  .heroAddtionalText {
    font-size: 0.85rem;
  }

  .heroHrieButton,
  .heroMyWorkButton {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
  }

  .heroHrieButton:hover,
  .heroMyWorkButton:hover {
    transform: scale(1.02) translateY(-3px);
  }
}

@media screen and (max-width: 320px) {
  .heroGreeting {
    font-size: 0.6rem;
  }

  .heroText {
    font-size: 1rem;
  }

  .heroMainText {
    font-size: 1.4rem;
  }

  .heroAddtionalText {
    font-size: 0.7rem;
  }

  .heroHrieButton,
  .heroMyWorkButton {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }
}
