.titlesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionsTitle {
  font-size: 3.3rem;
  font-weight: 900;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.titleShadow {
  position: absolute;
  font-size: 8rem;
  font-weight: 900;
  color: #3498db10;
  translate: 0 50px;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .sectionsTitle {
    font-size: 2.9rem;
  }
  .titleShadow {
    font-size: 6rem;
  }
}
